.input{
    width: 15rem;
}

.input:focus{
    outline: transparent;
    border: transparent;
}

.btn{
    height: 3rem;
    width: 6rem;
    background-color: blue;
    color: white;
    border-radius: 0.5rem;
    font-family: cursive;
}